<h1>About</h1>
<p>This application should eventually have the following features:</p>
<h2>Teachers</h2>
<ul>
  <li>Create up a public profile.</li>
  <li>Connect with teaching locations and add new ones.</li>
  <li>Submit their availbility for lessons.</li>
  <li>Receive student bookings.</li>
  <li>Create lesson records.</li>
  <li>Receive payment.</li>
  <li>Access the forum.</li>
  <li>Access resources for teachers.</li>
</ul>
<h2>Students</h2>
<ul>
  <li>Find a teacher sorted by location, rating, availbility.</li>
  <li>View teaching locations.</li>
  <li>View teacher and location reviews and availability.</li>
  <li>Book and pay for a lesson.</li>
  <li>Access lesson records.</li>
  <li>Revise new vocabulary and phrases with smart flash cards.</li>
  <li>Upload audio recording to lesson record.</li>
  <li>Access the forum.</li>
  <li>Access resources for students.</li>
</ul>
