<div class="center jumbotron">
  <h1>English Over Coffee</h1>
  <h2>
    An app for English as a second language tutors and students to keep track of
    their lessons, including bookings, vocabulary, phrases, pronunciation etc.
  </h2>
  <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
</div>
