<div class="center jumbotron">
  <h1>English Over Coffee</h1>
  <p>
    An app for English as a second language tutors and students to keep track of
    their lessons, including bookings, vocabulary, phrases, pronunciation etc.
  </p>
  <p><%= link_to "Find a teacher", teachers_path, class: "btn btn-primary btn-lg" %></p>
</div>
<%= image_tag("eoc-logo.png", alt: "English Over Coffee") %>
