<div class="container">
  <div class="col-xs-12">
    <h1>English Over Coffee</h1>
    <p>
      An app for English as a second language tutors and students to keep track of their lessons, including bookings, vocabulary, phrases, pronunciation etc.
    </p>
    <p>
      This site is currently a work in progress. For more information contact <%= link_to "Sheldon Johnson", "http://drzel.github.io/cv/" %>.
    </p>
    <p>
      <%= link_to "Okay show me the site.", home_path %>
    </p>
  </div>
</div>
