<h1>Teachers</h1>
<div class="row">
<% @teachers.each do |teacher| %>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <%= image_tag teacher.avatar.url(:square) %>
      <div class="caption">
        <h3><%= teacher.first_name %> <%= teacher.last_name %></h3>
        <p>This is some text</p>
        <p><a class="btn btn-primary">Profile</a><a class="btn btn-default">Book</a></p>
      </div>
    </div>
  </div>
<% end %>
</div>
