@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-avatar {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

@media (max-width: 768px) {
  
  ul.navbar-nav li.inline {
    float: left;
  }
  ul.navbar-nav li.last-inline + li {
    clear: both;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}
