<div class="row">
  <div class="col-lg-offset-1 col-lg-10 col-xs-12">
    <h1>Locations</h1>
    <% @locations.each do |location| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><%= location.name %></h2>
          <p><%= link_to "Homepage", location.homepage %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
